body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    font-weight: 500;
    background-color:hsl(210, 46%, 95%);
}

.main-container {
    margin-top: 120px;
}

/* text settings start */

.name{
    color: hsl(0, 0%, 100%);
}
.status{
    color: hsl(0, 0%, 81%);
}

h6 {
    margin: 0;
    padding: 0;
    font-size: 13px;
}

.p1 {
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    margin-top: 20px;
}

.p2 {
    color: hsl(0, 0%, 81%);
    margin-top: 20px;
    font-size: 13px;
}

.white-box .p1 { 
    color: hsl(219, 29%, 14%);
}

.white-box .name {
    color: hsl(219, 29%, 14%);
}

/* text settings end */

.card-area{
    padding: 15px;
    background-color: hsl(263, 55%, 52%);
    border-radius: 10px;
    margin-top: 40px;
}


.name-area {
    display: flex;
    padding: 0 15px;
    align-items: center;
}

.name-area img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
    border: 2px solid hsl(0, 0%, 81%); /*resimlerde danielin resmi de değişecek... çerçeve olarak.. */
}

.name-area > .purple-border {
    border: 2px solid hsl(263, 55%, 52%);
}

/* box color setting start */

.purple-box {
    background-color: hsl(263, 55%, 52%);
    background-image: url(../images/bg-pattern-quotation.svg);
    background-position-x: 80%;
    background-repeat: no-repeat;
}

.dark-grayish-box {
    background-color: hsl(217, 19%, 35%);
}

.white-box {
    background-color: hsl(0, 0%, 100%);
    padding-bottom: 41px;
}

.kira {
    padding-bottom: 28px;
}

.dark-blackish-box {
    background-color: hsl(219, 29%, 14%);
}

/* box color setting ending */



@media screen and (max-width: 575px) {
    .main-container {
        margin-top: 50px;
    }
}